@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  color: rgb(0, 0, 0);
 /*  position: relative; */
  font-family: 'Oswald', sans-serif;
  background-image: url(../src/assets/cool-background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
/*

*/

/*
  * STYLE THE NAVIGATION BAR :
*/

li{
  list-style: none;
  text-decoration: none;
  list-style: none;
}
a{
  text-decoration: none;
  color: white;
}

header {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 3fr));
  grid-gap: 2.5rem;
  background: rgb(32, 33, 36);
  border-bottom: 1px solid rgb(0, 0, 0);

}
.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: .1rem;
  margin: 1rem;
  gap: 1.1rem;
}

.logo-logo {
  width: 90px;
  height: 80px;
}

.logo-text {
  font-size: 1.8rem;
  letter-spacing: .3rem;
  font-family: 'Lobster', cursive;
  font-weight: bolder;
  color: rgb(224, 224, 224);
}

.nav {
  display: flex;
  
  align-items: center;
  flex-direction: row;
  gap: 3em;
}

.nav-items {
  font-size: 1rem;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  color: aliceblue;
  text-decoration: none;
  transition: .5s;
  cursor: pointer;
}

.nav-items:hover {
  background-color: rgba(255, 255, 255, 0.075);
  border-radius: 1.5rem;
  padding: 1.1rem;
}

.btn-header {
  display: flex;
  justify-content: flex-end;
  align-items:center;
  margin-right: 1.1rem;
  flex-direction: row;
  gap: 1em;
}
a.login{
  border: 1px solid white;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  border-radius: 10px;
  transition: 0.8s;
}
a.login:hover{
  background-color: rgb(0, 0, 0);
  border: none;
}
input[type="button"].singin{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  padding: .9rem;
  width: 125px;
  border-radius: .5rem;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
  transition: 0.8s;
}
input[type="button"].singin:hover{
  background-color: white;
  color: black;
}
.content {
  background-color: rgb(255, 255, 255);
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
  grid-gap: 3rem;
}

.welcome-page-content {
  max-width: 80%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 1.5rem;
  margin-left: 3rem;
  margin-top: 7rem;
  padding: 1.2rem;
}

.welcome-text {
  font-size: 2.5rem;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  color: rgb(0, 0, 0);
  /* add the best text shadow*/
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Content.jsx style*/
.welcome-p {
  font-size: 1.5rem;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

span.add-content {
  font-size: 1.5rem;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.icons {
  max-width: 70%;
  height: auto;
  margin: 2rem auto;
}

/*
*Login page style :
*/
.login-page-content {
  max-width: 80%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 1.2rem;
  margin-left: 3rem;
  margin-top: 2rem;
  padding: 1.2rem;
}

.login-text {
  text-align: center;
  font-size: 2.5rem;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  color: rgb(0, 0, 0);
  /* add the best text shadow*/
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
label, input {
  display: block;
}
input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
form button {
  background: rgb(2, 0, 104);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1em;
} 
form.login{
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0.6rem;
  margin-left: 3rem;
  padding: 1rem;
}
.login-backup{
  text-align: center;
  margin-top: .5rem;
  margin-bottom: .5rem;
}
.fa{
  margin-right: 1rem;
}
.additional-links{
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin: 1rem;
}
#loginpage > div > div > form > div > a{
  color: black;
  border: 1px black solid;
  ;
  border-radius: 0.2rem;
  padding: 0.5rem;
}
.active{
  color: black;
  font-weight: bold;
}
/*
*Signup style :
*/
.signup-page-content {
  max-width: 80%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 1.2rem;
  margin-left: 3rem;
  margin-top: 2rem;
  padding: 1.2rem;
}

.signup-text {
  text-align: center;
  font-size: 2.5rem;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  color: rgb(0, 0, 0);
  /* add the best text shadow*/
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

form.signup{
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0.1rem;
  margin-left: 3rem;
  padding: 1rem;
}
#root > header > div.btn-header > div > button{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  padding: .9rem;
  width: 125px;
  border-radius: .5rem;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
  transition: 0.8s;
}